body {
    font-family: Arial, sans-serif;
}

td.node {
    text-align: right;
}

td.type {
    text-align: center;
}

table tr:nth-child(odd) td{
    background-color: aliceblue;
}

table tr:nth-child(even) td{
    background-color: bisque;
}
